^ContentPage {
    background-color: white;
}

.label-primary {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    color: #ff7f00;
}

.button-primary {
    background-color: #ff7f00;
    color: white;
}

.button-secondary {
    color: #ff7f00;
    background-color: white;
    text-transform: lowercase;
}
/*#ff7f00*/